EMAIL_HOST_PASSWORD=examp
EMAIL_HOST_USER=examp
SECRET_KEY=examp
DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1 localhost [::1]

DATABASE_NAME=wallsite_db
DATABASE_USERNAME=wallsiteadmin
DATABASE_PASSWORD=examp
DATABASE_HOST=postgres
DATABASE_PORT=5432