{% extends "base.html" %}

{% block content %}
<ul>
    {% for p in posts %}
    <li>
        <div>
            <h2>{{p.title}}</h2>
            <h3>{{p.text|truncatechars:100}}</h3>
            {% if p.private%}
                <p>Автор: неизвестен</p>
            {% else %}
                <p>Автор: {{ p.author.username|default:"неизвестен"}}</p>
            {% endif %}
            <p>Дата публикации: {{p.time_create}}</p>
            {% if p.time_create|date:"Y-m-d H:i" != p.time_update|date:"Y-m-d H:i" %}
                <p>Изменено: {{p.time_update}}</p>
            {% endif %}
            <p><a href='{{ p.get_absolute_url }}'>Смотреть пост</a></p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}

{% block navigation %}
    {% if page_obj.has_other_pages %}
        <nav>
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href='?page={{ page_obj.previous_page_number }}'>&lt;</a></li>
                {% endif %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li>{{p}}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li><a href='?page={{ p }}'>{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href='?page={{ page_obj.next_page_number }}'>&gt;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock navigation %}

