{% extends "base.html" %}

{% block content %}
<ul>
    {% for p in posts %}
    <li>
        <div>
            <h2>{{p.title}}</h2>
            <h3>{{p.text|truncatechars:100}}</h3>
            {% if p.private%}
                <p>Автор: неизвестен</p>
            {% else %}
                <p>Автор: {{ p.author.username|default:"неизвестен"}}</p>
            {% endif %}
            <p>Дата публикации: {{p.time_create}}</p>
            {% if p.time_create|date:"Y-m-d H:i" != p.time_update|date:"Y-m-d H:i" %}
                <p>Изменено: {{p.time_update}}</p>
            {% endif %}
            <p><a href='{{ p.get_absolute_url }}'>Смотреть пост</a></p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
