{% extends "base.html" %}

{% block content %}
<div>
    <h2>{{post.title}}</h2>
    <h3>{{post.text}}</h3>
    {% if post.private%}
        <p>Автор: неизвестен</p>
    {% else %}
        <p>Автор: {{ post.author.username|default:"неизвестен"}}</p>
    {% endif %}
    <p>Дата публикации: {{post.time_create}}</p>
    {% if post.time_create != post.time_update%}
        <p>Изменено: {{post.time_update}}</p>
    {% endif %}
    <p>Лайков: {{ post.likes.count }}</p>
    {% if request.user in post.likes.all %}
        <p><a href='{% url "wallapp:togglelikepost" post.slug %}'>Убрать оцену</a></p>
    {% else %}
        <p><a href='{% url "wallapp:togglelikepost" post.slug %}'>Нравится</a></p>
    {% endif %}
</div>
{% endblock content %}