{% extends "base.html" %}

{% block content %}
<div>
    <h2>{{post.title}}</h2>
    <h3>{{post.text}}</h3>
    {% if post.photo %}
        <p><img src='{{ post.photo.url }}'></p>
    {% endif %}
    {% if post.private%}
        <p>Автор: неизвестен</p>
    {% else %}
        <p>Автор: {{ post.author.username|default:"неизвестен"}}</p>
    {% endif %}
    <p>Дата публикации: {{post.time_create}}</p>
    {% if post.time_create != post.time_update%}
        <p>Изменено: {{post.time_update}}</p>
    {% endif %}
    <p>Лайков: {{ post.likes.count }}</p>
    {% if request.user.is_authenticated %}
        <form action='{% url "wallapp:togglelikepost" post.slug %}' method='post'>
            {% csrf_token %}
            {% if is_liked %}
                <button type='submit'>Убрать оценку</button>
            {% else %}
                <button type='submit'>Нравится</button>
            {% endif %}
        </form>
    {% else %}
        <p><a href={% url "users:login" %}>Войдите</a>, чтобы ставить лайки</p>
    {% endif %}
    <h3>Комментарии:</h3>
    {% for comment in post.comments.all %}
        {% if comment.private%}
            <p>Автор: неизвестен</p>
        {% else %}
            <p>Автор: {{ post.author.username|default:"неизвестен"}}</p>
        {% endif %}
        <h3>{{ comment.text }}</h3>
        <h5>Последние изменения: {{ comment.time_update }}</h5>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <div>{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p><label for='{{ f.id_for_label }}'>{{ f.label }}</label>{{ f }}</p>
        <div>{{ f.errors }}</div>
        {% endfor %}
        <p><button type='submit'>Опубликовать</button></p>
    </form>
</div>
{% endblock content %}